<h2>Add Product::</h2>
<form #productForm="ngForm">
    <div>
        <label>ID</label>
        <input type="number" [(ngModel)]="id" name="id" required />
    </div>
    <br>
    <div>
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name" required />
    </div>
    <br>
    <div>
        <label>Order Date</label>
        <input type="date" [(ngModel)]="orderdate" name="orderdate" required />
    </div>
     <br>
    <div>
        <label>Order Time</label>
        <input type="time" [(ngModel)]="ordertime" name="ordertime" required />
    </div>
    
    <br> 
    

    <button type="button" (click)="addProduct()"  [disabled]="productForm.invalid">Add Product</button>
</form>

<h5>{{message}}</h5>




<!-- Form Type-1 -->
<!-- <h1>{{message}}</h1>
<h2>Add Product</h2>
 
<div>
    <label>ID:</label>
    <input type="number" [(ngModel)]="id"/>
</div>
<br>
<div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="name"/>
</div>
<br>
<div>
    <label>Order Date:</label>
    <input type="date" [(ngModel)]="orderdate"/>
</div>
<br>
<div>
    <label>Order Time:</label>
    <input type="time" [(ngModel)]="ordertime"/>
</div>
<br>
<button (click)="addProduct()">Add Product</button>

 -->
